body{
    background-color: white;
    font-family: poppins;
    text-transform: capitalize;
    margin-top: 0px;
    padding-top: 0px;
}
.home-page{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;
}
#tx1{
    font-size: 35px;
    font-weight: 500;
    padding-left: 100px;
    padding-bottom: 50px;
}
#tx2{
    font-size: 20px;
    width: 400px;
    padding-right: 300px ;
    padding-left: 100px;
}
#pr-hr
{
    width: 14vw;
    height: 2px;
    margin-top: 0px;
    padding-top: 0px;
    background-color: rgba(248, 62, 62, 0.952);
    margin-bottom: 50px;
}
.products{
    text-align: center;
    font-size: 25px;
    margin-bottom: 0px;
}
#feat{
    margin-bottom: 8px;
    font-weight: bold;
}
#d-tx3{
    margin-left: 150px;
    height: 40px;
    width: 160px;
    background-color: #dc143c;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}
#tx3{
    font-size: 20px;
    text-decoration: none;
    color: white;
}
.types{
    
    display: flex;;
    flex-direction: row;
    margin-bottom: 100px;
}
.types-box{
    
    display: flex;;
    flex-direction: column;
    margin: 10px;
}
.abc{
    color: black;
    text-decoration: none;
    font-size: 20px;
}
.title{
    font-weight: 400;
    font-size: 25px;
    text-align: center;
    margin-bottom: 0px;
}
.ti-hr{
    width: 10vw;
    height: 2px;
    background-color: #dc143c;
    margin-top: 0px;
}
.checked{
    color: #dc143c;
}
#bags{
    display: flex;;
    flex-direction: row;
    margin-left: 100px;
    padding: 50px;
    margin-right: 50px;
}
.right-align
{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.left-align
{
    margin-right: 50px;
}
#tees{
    display: flex;;
    flex-direction: row;
    margin-left: 100px;
    padding: 20px;
    margin-right: 50px;
}
#bats{
    display: flex;;
    flex-direction: row;
    margin-left: 100px;
    padding: 20px;
    margin-right: 50px;
}
#balls{
    display: flex;;
    flex-direction: row;
    margin-left: 100px;
    padding: 20px;
    margin-right: 50px;
}
#shoes{
    display: flex;;
    flex-direction: row;
    margin-left: 100px;
    padding: 20px;
    margin-right: 50px;
}
#trackpants{
    display: flex;;
    flex-direction: row;
    margin-left: 100px;
    padding: 20px;
    margin-right: 50px;
}
.ti-hr1{
    width: 16vw;
    height: 2px;
    background-color: #dc143c;
    margin-top: 0px;
}
#new-arrivals{
    display: flex;;
    flex-direction: row;
    margin-left: 100px;
    padding: 20px;
    margin-right: 50px;
}
.hd1{
    font-size: 50px;
    font-weight: bold;
    margin: 5px;
}
#band{
    display: flex;;
    flex-direction: row;
    background-image: linear-gradient(to right, white , #dc143c);
}
#band5{
    margin-left: 50px;
    margin-right: 100px;
}
.reviews{
    display: flex;;
    flex-direction: row;
    margin-bottom: 100px;
}
.rev{
    margin-top: 50px;
    height: 100px;
    width: 250px;
    display: flex;;
    flex-direction: column;
    margin-left: 100px;
    margin-right: 50px;
}
.partner{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
}
.part{
    margin-right: 100px;
    margin-left: 50px;
}
.title1{
        font-weight: 400;
        font-size: 23px;
        text-align: center;
        margin-bottom: 0px;
        color: #dc143c;
}
.abc2{
    color: rgb(71, 71, 71);
    text-decoration: none;
    font-size: 15px;
}
#contacts{
    margin-top: 75px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(160, 160, 160, 0.582);
}
#te1{
    padding-right: 100px;
}
.nav-bar{
    display: flex;
    flex-direction:  row;
    position: fixed;
    background-color: white;
    width: 100vw;
    height: 5vh;
}
#srch{
    margin-top: 10px;
    width: 100px;
}
.nav-1{
    margin-right: 250px;
}
.nav-2{
    margin-right: 50px;
}
#end{
    margin-top: 5.1vh;
    position: fixed;
    width: 100vw;
    height: .25vh;
    background-color: #dc143c;
}
h6{
    margin: 0px;
}
h3{
    margin: 0px;
}
